body {
    background-color: #aab3bb;
    align-items: center;
    font-family: poppins, medium;
    display: block;
}

header {
    display: inline;
}

.container {
    background-color: #04355e;
    border: black;
    border-radius: 2%;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: 10% 25%;
    height: 30%;
    min-height: 350px;
}

.options {    
    flex-direction: column;
    display: flex;
    margin: 2% auto;
}

.options:hover {
    cursor: pointer;
}