body {
    align-items: center;
    font-family: poppins, medium;
    display: block;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #04355e;
    color: white;
    height: 20%;
    min-height: 100px;
}

header > h1 {
    margin-left: 10%;
    font-size: 3em;
}

.container {
    background-color: #04355e;
    border: black;
    border-radius: 2%;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin: 10% 25%;
    height: 30%;
    min-height: 350px;
    color: white;
}

.options {    
    flex-direction: column;
    display: flex;
    margin: 2% auto;
}

.options:hover {
    cursor: pointer;
    background-color: white;
    color: #04355e;
}

.list {
    list-style: none;
}

li {
    width: 20%;
    margin: auto;
}

.button {
    background-color: white;
    font-family: inherit;
    border-style: none;
}

#timer {
    margin-right: 10%;
    font-size: 2em;
}